.mod-privilege {
  background-color: #fff;
  border-radius: 16px;
  padding-bottom: 16px;
  background-image: repeating-linear-gradient(90deg,
      #F2CA5B,
      #F2CA5B 3px,
      transparent 3px,
      transparent 6px);
  background-repeat: repeat-x;
  background-size: 100% 1px;

  .privilege-title {
    padding: 20px 16px 24px;
    font-family: 'Temp';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}