$C1: var(--C1, #000028);
$C2: var(--C2, #848494);
$C3: var(--C3, #a2a2b6);
$C4: var(--C4, #f53e35);
$C5: var(--C5, #ffffff);
$C6: var(--C6, #1863a7);
$C7: var(--C7, #ebebeb);
$C8: var(--C8, #f6f8fa);
$C9: var(--C9, #d9dde8);

$CVIP: var(--CVIP, #fbecec);
$SVIP: var(--SVIP, #edf3fe);

$CTAB: var(--CTAB, #ECF3FF);
$CTAB_BG: var(--CTAB_BG, #edf3fe);

$f-bold: 500;
$f-bolder: 900;
