.popup-invite-expired {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  background-color: #ffffff;
  color: #000;
  border-radius: 12px;
  z-index: 99;
  padding: 20px 0;

  .expired-title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
  }

  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;

    img {
      @include getSquare(100%);
    }
  }

  .expired-con {
    padding: 0 20px;
    font-size: 14px;

    .expired-desc {
      width: 100%;
      text-align: center;
    }

    .expired-pic {
      @include getSquare(91px);
      margin: 21px auto 30px;

      img {
        @include getSquare(100%);
        object-fit: cover;
      }
    }
  }

  .expired-btn {
    margin-top: 24px;
  }
}